.Logo {
    background-color: white;
    color: #ffb657;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.Logo img {
    height: 100%;
}

.Logo a {
    text-decoration: none;
    font-size: xx-large;
    color: #ffb657;
}