.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'Amatic SC';
    font-size: xx-large;
    color: #ffb657;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */

.Button {
    font-size: xxx-large;
}