.Login {
    font-size: xx-large;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 8px 9px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Login {
        width: 500px;
    }
}

.Button {
    font-size: xxx-large;
}

/* .Button:hover {
    animation: enable 0.2s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
} */